.vagrant
.terraform*
terraform.tfstate*
*.rsa*
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/build/
.vagrant
pixie.log
/.pixie/
.rspec_status
.rspec
.ruby-version
.DS_Store
